// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name:                &; // #{$block-name}__element

  &__item {
    display: inline-block;
    margin-left: 12px;
  }

  &__link {
    display: block;
  }

  .icon {
    &.icon-viber {
      @include sprite($icon-viber);
    }
    &.icon-whatsapp {
      @include sprite($icon-whatsapp);
    }
    &.icon-telegram {
      @include sprite($icon-telegram);
    }
  }

}
