// В этом файле должны быть стили для БЭМ-блока presentation, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.presentation {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;

  &__media {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $screen-lg) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  &__info {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;

    @media (min-width: $screen-lg) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  &__text {
    max-width: 700px;
    padding-left: 20px;

    @media (min-width: 1600px) {
      padding-left: 110px;
    }

    @media (max-width: $screen-lg) {
      @include container;
    }

    p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: $line-height;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: $line-height;

    @media (min-width: $screen-lg) {
      font-size: 32px;
    }
  }

}
