// В этом файле должны быть стили для БЭМ-блока contact-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact-item {

  $block-name:                &; // #{$block-name}__element

  font-size: 21px;
  margin: 10px 0;

  &__phone {

    &:before {
      content: "";
      @include sprite($icon-phone);
      display: inline-block;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }

  &__email {
    &:before {
      content: "";
      @include sprite($icon-email);
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }

}
