// В этом файле должны быть стили для БЭМ-блока news-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-card {

  $block-name:                &; // #{$block-name}__element

  @include col();
  @include col(lg, 4);

  &__inner {
    background: #fbfbf8;
    border: 1px solid #e3e5e6;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #51778b;
    position: relative;
    transition: all $transition-time;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 22.32px 1.68px rgba(115, 115, 117, 0.33);
    }
  }

  &__image {
    img {
      display: block;
    }
  }

  &__body {
    padding: 30px;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  &__date {
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0 30px;
  }

}
