// В этом файле должны быть стили для БЭМ-блока offer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.offer {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $screen-xxl) {
    justify-content: space-between;
  }

  &__card {
    max-width: 270px;
    flex-basis: 270px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    &:hover,
    &:focus {
      #{$block-name}__icon {
        background: #dbb254;
        transition: background $transition-time;

        .icon {

          &.icon-professional {
            @include sprite($offers-icon-01-hover);
          }

          &.icon-calendar {
            @include sprite($offers-icon-02-hover);
          }

          &.icon-graph {
            @include sprite($offers-icon-03-hover);
          }

          &.icon-optomization {
            @include sprite($offers-icon-04-hover);
          }

          &.icon-practic {
            @include sprite($offers-icon-05-hover);
          }
        }
      }
    }
  }

  &__icon {
    width: 212px;
    height: 168px;
    border: 3px solid #dbb254;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {

      &.icon-professional {
        @include sprite($offers-icon-01);
      }

      &.icon-calendar {
        @include sprite($offers-icon-02);
      }

      &.icon-graph {
        @include sprite($offers-icon-03);
      }

      &.icon-optomization {
        @include sprite($offers-icon-04);
      }

      &.icon-practic {
        @include sprite($offers-icon-05);
      }
    }
  }

  &__caption {
    padding: 25px 0;
  }

}
