// В этом файле должны быть стили для БЭМ-блока main-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-section {

  $block-name:                &; // #{$block-name}__element

  padding: 20px 0;

  &__inner {
    @include container;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: $line-height;
    margin-bottom: $line-height;
  }

  &--presentation {
    padding: 175px 0;
  }

  &--offer {
    background: #ecf0f2;
  }

}
