// В этом файле должны быть стили для БЭМ-блока objects-grid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.objects-grid {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  display: flex;
  flex-wrap: wrap;
  flex-basis: 66.666%;
  max-width: 66.666%;

  &--xl {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

}
